<h1>{{ name }}</h1>
<table class="my-3">
  <tr>
    <td><b>Nombre:</b> {{ name }}</td>
  </tr>
  <tr>
    <td><b>Edad:</b> {{ age }}</td>
  </tr>
  <tr>
    <td><b>Metodo:</b> {{ getHeroDescription() }}</td>
  </tr>
  <tr>
    <td><b>Capitalizado:</b> {{ capitalizeName }}</td>
  </tr>
  <div class="my-3">
    <button
      *ngIf="name === 'IronMan'"
      class="btn btn-primary me-3"
      (click)="changeName()"
    >
      Cambiar nombre
    </button>
    <button
      *ngIf="age === 45"
      class="btn btn-primary me-3"
      (click)="changeEdad()"
    >
      Cambiar edad
    </button>
    <button
      *ngIf="name !== 'IronMan' || age !== 45"
      class="btn btn-primary"
      (click)="reset()"
    >
      Reset
    </button>
  </div>
</table>
