<div class="bg-dark text-light py-4 px-3 mb-4">
  <h1>DBZ Personajes</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <app-list></app-list>
    </div>
    <div class="col">
      <h2>Agregar Personaje</h2>
      <form action="" class="row">
        <input type="text" class="form-control mb-2" placeholder="Nombre" />
        <input type="number" class="form-control mb-2" placeholder="Poder" />
        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
    </div>
  </div>
  <img
    src="assets/Personajes-Dragon-Ball.jpg"
    alt="personajes"
    class="d-block m-auto mt-5"
  />
</div>
